<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start project</title>
</head>
<body style="
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
    ">
    <h1 style="font-size: 20vw;">start!</h1>
    <!-- write html! -->
</body>
</html>